* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: serif;
}

/* .container {
  background: #23424a;
  color: white;

  width: 80%;
  margin: 0 auto;
  padding: 5rem;
} */

.parent {
  background-color: #23424a;
  padding: 50px;
  width: 80%;
  margin: 0 auto;
}

.child {
  background-color: #38cfd9;
  width: 50%;
  height: 250px;
}
