* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: serif;
}

/* .container {
  background: #23424a;
  color: white;

  width: 80%;
  margin: 0 auto;
  padding: 5rem;
} */

.parent {
  background-color: #23424a;
  width: 90rem;
  height: 41.188rem;
  margin: 0 auto;
  padding-left: 7.625rem;
  padding-top: 9.25rem;
}

.child {
  background-color: #38cfd9;
  width: 44.375rem;
  height: 22.75rem;
}
